#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


/* FORM */

.form-container {
  display: flex;
  flex-flow: column;
  margin: 1.4rem;
  box-sizing: border-box;
  border: 1px solid var(--accent-1);
  border-radius: 3px;
}

.form-header {
  /* background-color: var(--accent-1); */
}

.form-body {
  margin: 0 auto;
}

.fullsize {
  flex: 1 0 auto;
  max-width: 100rem;
}

/* INPUT */
.input-container {
  overflow-y: scroll;
  max-height: 50rem;
}

.header-button {
  background-color: var(--accent-1);
  font-weight: 800;
  color: var(--main);
  padding: 1rem 5rem;
}


/* CV */
.cv-container {
  margin: 1rem;
  max-width: 30rem;
  padding: 1rem;
  white-space: pre-wrap;
  text-transform: initial;
  background-color: var(--cv-background-color);
  color: var(--cv-text-color);
  border: 1px solid var(--accent-1);
  box-shadow: 0 1px 4px var(--accent-1);
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 333ms ease;
}

.cv-container>h2 {
  margin: 0.6rem 0 auto;
}

/* CV - PERSONAL */
.cv-personal-section {
  display: flex;
  place-items: center;
  max-width: 100%;
  background-color: var(--accent-1);
}

.cv-personal-info {
  text-align: right;
  font-size: 0.8rem;
}

.cv-personal-name {
  flex: 3;
  text-align: center;
  font-size: 2rem;
}

.cv-personal-email {
  flex: 0;
}

/* CV - WORK */
.cv-work-section {
  margin: 0.4rem;
}

.cv-work-row {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.cv-work-company {
  font-weight: 600;
  flex: 5;
  text-align: left;
}

.cv-work-location {
  font-weight: 200;
  flex: 6 1 max-content;
  text-align: left;
  font-style: italic;
}

.cv-work-start-date {
  flex: 1 1 min-content;
  text-align: center;
  font-size: small;
}

.divider {
  flex: 0.5;
  text-align: center;

}

.cv-work-end-date {
  flex: 1 1 min-content;
  text-align: center;
  font-size: small;
}

.cv-work-position {
  font-weight: 500;
  font-size: smaller;
}

.cv-work-description {
  padding: 0 0.6rem;
  text-align: justify;
}

/* CV - EDUCATION */

.cv-education-section {
  margin: 0.4rem;
}

.cv-education-row {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.cv-education-school {
  font-weight: 600;
  flex: 11;
  text-align: left;
}

.cv-education-degree {
  font-weight: 200;
  font-size: smaller;
  flex: 6 1 max-content;
  text-align: left;
  font-style: italic;
}

.cv-education-start-date {
  flex: 1 1 min-content;
  text-align: center;
  font-size: small;
}

.cv-education-end-date {
  flex: 1 1 min-content;
  text-align: center;
  font-size: small;
}

.cv-education-project {
  margin: 0.4rem;
}

/* MISC */

.button-container {
  display: flex;
  padding: 0.4rem;
  margin: 0.2rem;
  text-align: center;
}