#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* INPUT */
.input-container {
  margin: 1rem;
  max-height: 70vh;
  overflow-y: scroll;
}

.header-button {
  background-color: var(--accent-1);
  font-weight: 800;
  color: var(--main);
  padding: 1rem 5rem;
}

/* CV */
.cv-container {
  margin: 1rem;
  max-width: 70%;
  min-width: 30rem;
  padding: 20px;
  white-space: pre-wrap;
  text-transform: initial;
  box-sizing: border-box;
  background-color: var(--cv-background-color);
  color: var(--cv-text-color);
  border: 1px solid #ccc;
  /* Light border to outline the document */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  border-radius: 8px;
  /* Rounded corners for a more modern paper look */
  overflow: hidden;
  /* Hide any overflowing content */
  transition: background-color 333ms ease;
}



/* FORM */
.form-container {
  display: flex;
  flex-flow: column;
  margin: 0.4rem 1.4rem;
  box-sizing: border-box;
  border: 1px solid var(--accent-1);
  border-radius: 3px;
  transition: background-color 333ms ease;
}

.form-header {
  display: flex;
  justify-content: center;
  background-color: var(--accent-1);
}

.form-body {
  margin: 0 auto;
}