:root {
  --background-color: #ecd4c4;
  --cv-background-color: #fcfcfc;
  --cv-text-color: #111111;

  --main: #5A5A76;
  --accent-1: #e2be99;
  --accent-2: #ecd4c4;

  place-items: center;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--accent-2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --background-color: #2a2c4b;
  --cv-background-color: #222222;
  --cv-text-color: #fcfcfc;
  --main: #ecd4c4;
  --accent-1: #5A5A76;
  --accent-2: #2a2c4b;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

label {
  display: flex;
  margin: 0.4rem;
}

input, textarea {
  flex-grow: 1;
  margin: 0 1rem;
  font-weight: 600;
  min-width: 10rem;
  max-width: 100%;
  padding: 0.4rem;
  margin-bottom: 1rem;
  border: 1px solid var(--main);
  border-radius: 3px;
  color: var(--main);
  background-color: var(--accent-1);
}

textarea {
  padding: 0.8rem;
  min-height: 5rem;
}

a {
  font-weight: 500;
  color: var(--main);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-1);
}

header {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: var(--background-color);
  color: var(--main);
  margin: 0 auto;
  min-width: 320px;
  transition: background-color 666ms ease;
  text-transform: lowercase;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--main);
  letter-spacing: 0.06rem;
}

h2 {
  margin-top: 0;
}

button {
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0em 0.8em;
  /* margin: 0.2rem; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent-1);
  color: var(--main);
  cursor: pointer;
  transition: color 333ms ease;
}

button:hover {
  color: var(--accent-2);
}

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}